.main-container {
  margin-top: 70px;
  font-family: "Signika", sans-serif;
}

.row-section {
  margin-bottom: 50px;
}

.item-title {
  text-align: center;
  margin-bottom: 30px;
}

.img-container {
  text-align: center;
}

.item-img {
  width: 55%;
  height: auto;
}

.item-img:hover {
  width: 65%;
  height: auto;
  overflow: hidden;
}
.navlinks {
  font-size: 26px;
}
